{% extends "GamesBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Index
{% endblock %}

{% block body %}
<div id="index-banner">
  <div class="container">
    <h1 class="header center orange-text">Time to <span id="js-rotating">flip, spin, rotate</span> your screen !</h1>
    <div class="row center">
      <h5 class="header col s12 light">Do you own a PC monitor that can be pivoted? <br>Here's list of games recommended - or simply compatibles - in portrait mode.</h5>
    </div>
  </div>
</div>
<div class="listing-games">
  <div class="container">
    <div class="section">
      <div>
        <div class="row">
        {% for category in categories %}
          <div class="col s3">
            <div class="center promo">
                    <img src="images/icons/{{ category.icon }}">
                    <p class="promo-caption">{{ category.name }}</p>
                    <p class="light center">{{ category.description }}</p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <ul class="collection">
        {% for game in games %}
        <li class="collection-item avatar">
          <img src="images/icons/{{ game.type.icon }} " class="collection collection-item.avatar circle small-game-type-icon">
          <span class="title">{{ game.name}} <span class="platform">{{ game.platform.name }} </span></span>
           <div class="row">
            <div class="col s9"><p>{{ game.description }}</p></div>
            <div class="col s2">test</div>
            <div class="col s1"><a href="#!" class="secondary-content icon-info-game"><i class="material-icons">info_outline</i></a></div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock  %}